@media (max-width: 425px){
    label{
        font-size: 15px;
        text-align: center;
        margin-left: 0;
    }
    input, select, textarea{
        font-size: 14px;
        width: 90%;
    }
    form{
        padding: 30px 16px;
    }
    legend{
        font-size: 16px;
    }
}
@media (max-width: 375px){
    h1{
        font-size: 25px;
    }
}
@media (max-width: 363px){
    button{
        width: 100%;
        margin: 10px 0 0 0;
    }
}